In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range('20210112',periods=6)

In [5]:
dates

DatetimeIndex(['2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15',
               '2021-01-16', '2021-01-17'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2021-01-12 -3.442342  0.139159 -1.349643  0.556150
2021-01-13 -0.339124  0.138343 -0.473641 -1.921139
2021-01-14  1.584527 -0.086289 -0.018979 -0.031556
2021-01-15 -0.839583  1.705902  0.085312  0.945600
2021-01-16 -1.342356  1.756748 -1.655854  1.448065
2021-01-17 -0.872175 -1.912929  1.026023  2.232299

In [8]:
df2=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20130102',),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(["test","train","test","train"]),
                 'F':'foo'})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.875176  0.290156 -0.397797  0.538237
std    1.621565  1.356198  0.989811  1.430880
min   -3.442342 -1.912929 -1.655854 -1.921139
25%   -1.224811 -0.030131 -1.130643  0.115370
50%   -0.855879  0.138751 -0.246310  0.750875
75%   -0.464239  1.314216  0.059239  1.322449
max    1.584527  1.756748  1.026023  2.232299

In [12]:
df.T

   2021-01-12  2021-01-13  2021-01-14  2021-01-15  2021-01-16  2021-01-17
A   -3.442342   -0.339124    1.584527   -0.839583   -1.342356   -0.872175
B    0.139159    0.138343   -0.086289    1.705902    1.756748   -1.912929
C   -1.349643   -0.473641   -0.018979    0.085312   -1.655854    1.026023
D    0.556150   -1.921139   -0.031556    0.945600    1.448065    2.232299

In [13]:
df.sort_values(by='B')

                   A         B         C         D
2021-01-17 -0.872175 -1.912929  1.026023  2.232299
2021-01-14  1.584527 -0.086289 -0.018979 -0.031556
2021-01-13 -0.339124  0.138343 -0.473641 -1.921139
2021-01-12 -3.442342  0.139159 -1.349643  0.556150
2021-01-15 -0.839583  1.705902  0.085312  0.945600
2021-01-16 -1.342356  1.756748 -1.655854  1.448065

In [14]:
df['A']

2021-01-12   -3.442342
2021-01-13   -0.339124
2021-01-14    1.584527
2021-01-15   -0.839583
2021-01-16   -1.342356
2021-01-17   -0.872175
Freq: D, Name: A, dtype: float64

In [15]:
df[0:3]

                   A         B         C         D
2021-01-12 -3.442342  0.139159 -1.349643  0.556150
2021-01-13 -0.339124  0.138343 -0.473641 -1.921139
2021-01-14  1.584527 -0.086289 -0.018979 -0.031556

In [16]:
df['20210112':'20210114']

                   A         B         C         D
2021-01-12 -3.442342  0.139159 -1.349643  0.556150
2021-01-13 -0.339124  0.138343 -0.473641 -1.921139
2021-01-14  1.584527 -0.086289 -0.018979 -0.031556

In [17]:
df.loc[:,['A','B']]

                   A         B
2021-01-12 -3.442342  0.139159
2021-01-13 -0.339124  0.138343
2021-01-14  1.584527 -0.086289
2021-01-15 -0.839583  1.705902
2021-01-16 -1.342356  1.756748
2021-01-17 -0.872175 -1.912929

In [18]:
#iloc return the value of rows mentioned in [int]
df.iloc[3]

A   -0.839583
B    1.705902
C    0.085312
D    0.945600
Name: 2021-01-15 00:00:00, dtype: float64

In [19]:
#both rows and columns(starting index to before ending index)
df.iloc[3:5,0:2]

                   A         B
2021-01-15 -0.839583  1.705902
2021-01-16 -1.342356  1.756748

In [20]:
#all the parameters value will be considered as taken in a list
df.iloc[[1,2,4],[0,2]]

                   A         C
2021-01-13 -0.339124 -0.473641
2021-01-14  1.584527 -0.018979
2021-01-16 -1.342356 -1.655854

In [21]:
df.iloc[1:3,:]

                   A         B         C         D
2021-01-13 -0.339124  0.138343 -0.473641 -1.921139
2021-01-14  1.584527 -0.086289 -0.018979 -0.031556

In [22]:
df.iloc[:,1:3]

                   B         C
2021-01-12  0.139159 -1.349643
2021-01-13  0.138343 -0.473641
2021-01-14 -0.086289 -0.018979
2021-01-15  1.705902  0.085312
2021-01-16  1.756748 -1.655854
2021-01-17 -1.912929  1.026023